.formContainer {
  width: 100%;
  margin: 5% 0;
}
.formHeader {
  font-style: italic;
  text-align: center;
}
.innerForm {
  width: 70vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInput {
  width: 60%;
  margin-top: 10px;
  background-color: blue;
}
input {
  width: 100%;
  height: 25px;
  outline: none;
  font-size: 20px;
  color: #ed741e;
  text-align: center;
  border: 3px solid #b9b6b6;
  border-radius: 10px;
}
.formbutton {
  margin-top: 5px;
}
